# docker
CONTAINER_NAME=gitea
GITEA_VOLUME=/gitea
GITEA_DB_VOLUME=/gitea/mysql

# gitea
GITEA_FRONTEND_PORT=3000
GITEA_SSH_PORT=222
GITEA__database__DB_TYPE=mysql
GITEA__database__HOST=db:3306
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=gitea

# db
MYSQL_ROOT_PASSWORD=gitea
MYSQL_USER=gitea
MYSQL_PASSWORD=gitea
MYSQL_DATABASE=gitea
